{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/destructuring-assignment": [0, "never", { "ignoreClassFields": true }],
    "react/prop-types": [1, { "ignoreClassFields": 0 }],
    // off console log warning
    "no-console": "off",
    "react/forbid-prop-types": [
      0,
      { "forbid": "object", "checkContextTypes": 1, "checkChildContextTypes": 1 }
    ]
  },
  // Fix eslint unresolved import
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },

  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
